* {
  box-sizing: border-box;
}

p.tit,h1.tit,h2.tit{
  color: rgb(248, 226, 26);
  font-size: 26px;
  font-family:Courier New, Courier, monospace;
}

p.parrafo{
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* clases para el menu hamburguesa */
/* para mostrar menu*/
.enabled-menu{
	display: block;
}
/*para ocultar menu*/
.disabled-menu{
	display: none;
}

ul{
  list-style: none;
  text-align: right;
}

li {
  padding-top: 30px ;
}

li:hover{
  color: rgb(41, 113, 247);
  cursor: pointer;
  font-size: 28px;
}

header.row {
  padding: 10px 70px;
  background-color: rgb(2, 6, 22);
  color: white;
  font-size: 24px;
  font-weight: 700;
}

button.hiden {
  float: right;
  width: 40px;
  border: 1px solid gray;
  background-color: black;
  
}

button:hover,.btn button:hover{
  background-color: rgb(44, 98, 247);
  color:black;
  cursor: pointer;
}
/* fin del menu hamburguesa */
img.portal{
  width: 100%;
  height:300px; 
}
/* Estilos para las secciones */
a{
  text-decoration: none;
  color: rgb(251, 188, 15);
  
}

i{
  padding: 7px;
  font-size:19px; 
  color: rgb(18, 59, 245);
}

div.card, div.card2, div.card3 {
  border:1px solid rgb(184, 181, 181);
  margin-top: 28px;
}

.padding{
  padding-left:21px;
}

div.btn{
  background-color:rgb(243, 241, 241); 
  height:49px;
}

.btn button,.btn-call{
  padding: 10px;
  margin:7px 0; 
  background-color:rgba(238, 188, 25, 0.794) ;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border:none;
}

img.portada{
  width: 100%;
  height: 200px;
}
/* footer */
div.footer{
  background-color: rgb(2, 6, 22);
  height: 49px;
  text-align: center;
  color: white;
  font-size: 21px;
  padding: 14px;
  margin-top: 21px;
}

/* Grid */
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}
  
.row::after {
  content: "";
  display: table;
  clear: both;
}
  
[class*='col-'] {
  float: left;
  margin: 0;
}
  
.col-xs-1 {
    width: 8.33333333%;
}
  
.col-xs-2 {
    width: 16.66666667%;
}
  
.col-xs-3 {
    width: 25%;
}
  
.col-xs-4 {
    width: 33.33333333%;
}
  
.col-xs-5 {
    width: 41.66666667%;
}
  
.col-xs-6 {
    width: 50%;
}
  
.col-xs-7 {
    width: 58.33333333%;
}
  
.col-xs-8 {
    width: 66.66666667%;
}
  
.col-xs-9 {
    width: 75%;
}
  
.col-xs-10 {
    width: 83.33333333%;
}
  
 .col-xs-11 {
    width: 91.66666667%;
}
  
.col-xs-12 {
    width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

  
  
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-offset-0{
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .hiden{
    display:none; 
  }
/* menu en lista */
  nav.rigth{
    display: block;
    float: right;
  }

  ul li{
    display: inline;
    padding:7px;
  }
  /* espacios entre cards sin offset */
  div.card2,div.card3{
    margin-left: 5%;
  }

}
  