* {
  box-sizing: border-box;
}

/* clases para el menu hambuerguesa */
/* para mostrar menu*/
.enabled-menu{
	display: block;
}
/*para ocultar menu*/
.disabled-menu{
	display: none;
}

ul{
  list-style: none;
  text-align: right;
}

li {
  padding-top: 30px ;
}

li:hover{
  color: rgb(230, 245, 24);
  cursor: pointer;
  font-size: 22px;
}

header.row {
  padding: 20px 70px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

button.hiden {
  float: right;
  width: 40px;
  border: 1px solid gray;
  background-color: black;
  
}

button:hover,.btn button:hover{
  background-color: rgb(230, 245, 24);
  color:black;
  cursor: pointer;
}
/* fin del menu hamburguesa */
div.card, div.card2, div.card3 {
  border:1px solid rgb(184, 181, 181);
  margin-top: 28px;
}

.padding{
  padding-left:21px; 
}

div.btn{
  background-color:gainsboro; 
  height:49px;
}

.btn button,.btn-call{
  padding: 10px;
  margin:7px 0; 
  background-color:rgb(203, 247, 82) ;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border:none;
}

img.portada{
  width: 100%;
  height: 200px;
}

/* Grid */
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}
  
.row::after {
  content: "";
  display: table;
  clear: both;
}
  
[class*='col-'] {
  float: left;
  margin: 0;
}
  
.col-xs-1 {
    width: 8.33333333%;
}
  
.col-xs-2 {
    width: 16.66666667%;
}
  
.col-xs-3 {
    width: 25%;
}
  
.col-xs-4 {
    width: 33.33333333%;
}
  
.col-xs-5 {
    width: 41.66666667%;
}
  
.col-xs-6 {
    width: 50%;
}
  
.col-xs-7 {
    width: 58.33333333%;
}
  
.col-xs-8 {
    width: 66.66666667%;
}
  
.col-xs-9 {
    width: 75%;
}
  
.col-xs-10 {
    width: 83.33333333%;
}
  
 .col-xs-11 {
    width: 91.66666667%;
}
  
.col-xs-12 {
    width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

  
  
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-offset-0{
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .hiden{
    display:none; 
  }
/* menu en lista */
  nav.rigth{
    display: block;
    float: right;
  }

  ul li{
    display: inline;
    padding:7px;
  }
  /* espacios entre cards */
  div.card2,div.card3{
    margin-left: 5%;
  }

}
  